* {
  overflow: hidden;
}

html {
  overflow: scroll;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f5f6;
  overflow: hidden;
}

header {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.header-nav {
  display: flex;
  min-width: 600px;
  flex-flow: row-reverse;
  margin-right: 100px;
}
.nav {
  text-transform: uppercase;
  font-size: 14px;
  padding: 30px;
  cursor: pointer;
}
section {
  margin: 40px 50px;
}
h1.title {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 300;
}

p.subtitle {
  font-weight: 100;
  margin-bottom: 20px;
}
.cards-container {
  display: flex;
}
.card {
  background-color: white;
  margin: 5px;
  width: 100%;
  padding: 20px;
}
.candName {
  font-size: 20px;
}
.image {
  width: 150px;
  height: 150px;

  background-size: cover;
  border-radius: 50%;
}
.img-first {
  background-image: url("images/image1.jpeg");
}
.img-second {
  background-image: url("images/image2.jpeg");
}
.img-third {
  background-image: url("images/image3.jpeg");
}
.cpr {
  padding: 10px;
  width: 30%;
}
.content {
  display: flex;
}
.button-container {
  margin: 0px auto;
  width: 200px;
  display: flex;
  justify-content: center;
}
button {
  box-shadow: none;
  transition: All 0.5s ease;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-top: 20px;
  height: 48px;
  width: 304px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
button:hover {
  transform: scale(1.1, 1.1);
  background-color: #5c0120;
  color: white;
}
#logo {
  width: 100px;
  margin: 20px;
}
.decription {
  padding: 5px;
  text-align: justify;
  margin-top: 15px;
}
#cpr-container {
  margin-bottom: 25px;
}
.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.message {
  text-align: center;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center
}
